<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>planetaryList</key>
	<string>planetary/apod</string>
	<key>dummyAppKey</key>
	<string>5LquIng3MJwMKoodIStkbl18Ba2ZUusx4wE9P5xo</string>
</dict>
</plist>
